@font-face
{
	font-family: 'OrbitronMedium';
	src: url('/css/Orbitron-fontfacekit/orbitron-medium-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

hr
{
	border: 0;
	border-top: 1px solid #35465E;
	width: 80%;
}

audio
{
	width: 100%
}

dd > a img,
dd > img
{
	height: 48px;
}

blockquote
{
		font-size: 14px !important;
}

.license
{
	height: 16px;
	margin-top: -1px;
}

.container > h1
{
	margin-bottom: 20px;
}

.download-links span { padding-right: 1em; }
/* consider images here for the diff mime types
.download-links span::before { content: " "; display: inline-block; width: 22px; }
*/

#history li,
#main li
{
	margin: 0 10px;
	height: 46px;
	width: 100%
}

table#casts img
{
	height: 22px;
	vertical-align: middle;
}


table.tablesorter img
{
	height: 16px;
	vertical-align: middle;
}

table.tablesorter thead th.header
{
	background-image: url('/images/bg.gif');
	background-repeat: no-repeat;
	background-position: center left;
	cursor: pointer;
}

table.tablesorter thead th.headerSortUp
{
	background-image: url('/images/asc.gif');
}

table.tablesorter thead th.headerSortDown
{
	background-image: url('/images/desc.gif');
}

table.tablesorter thead th i, table.tablesorter tbody td i {
	float: right;
	line-height: 20px;
}

.shownotes { text-align: left; }
.shownotes h4 { margin-top: 5px; font-weight: bold; font-size: 14px; line-height: 18px; }

.shownotes dl { line-height: 20px; text-indent: -70px; margin-bottom: 5px; }
.shownotes dl dt { width: 7em; }
.shownotes dl dd { margin-left: 7.1em; }
.shownotes time { margin-right: 10px; color: #626262; }
.shownotes time:target { color: #FF7F00; }

/* highlighter */
.shownotes time { cursor: pointer; }
.shownotes time:hover { color: #EEE; }
.shownotes .highlighted time:hover { color: yellow; }

dt.highlighted, dt.highlighted time, dt.highlighted + dd { background-color: #06A; color: #EEE; }

/*Steamcommunity bbcode ugliness*/
.bb_link_host
{
	display:none;
}

/* twitter Feed */
.follow
{
	float: right;
	margin: auto;
}

.timeline
{
	width: 520px;
	margin: auto;
}

/* Poll and form styles */

.steamLogin
{
	/*position: absolute;
	top: 5px;
	right: 5px;*/
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 154px;
}

#mumble-list ul {
        list-style-type: none;
}

#mumble-list li li.channel
{
		opacity: 0.6;
}

#mumble-list li li li.channel
{
		opacity: 0.4;
}

#mumble-list li.user
{
		opacity: 1.0 !important
}

/* Bootstrap needs JS for this, apparently? Confirm this is decent for all */
li.dropdown:hover > .dropdown-menu, .dropdown-menu:hover { display:block; }

/* finesse this… */
#countdown span:not(.label)
{
	font-family: 'OrbitronMedium', Arial, sans-serif;
	color: #ffffff;
	background-color: #808080;
	display: inline-block;
	width: 1.75em;
	text-align: center;
	line-height: 1.25em;
	padding-top: 4px;
	text-shadow: none;
	border-radius: 3px;
	text-align: center;
	box-shadow: 0 -10px 16px -10px #303030 inset;
}

#countdown
{
	width: 24em;
	margin: 0px auto;
	margin-bottom: .5em;
	line-height: 2em;
}

body
{
padding: 60px 0 0 0;
color: #959595; background: url('/images/noise4.png');
font-size: 13px !important; font-family: Arial,Helvetica,sans-serif;
text-shadow: 1px 1px 1px #000;
}

h1, h2, h3, h4, h5, h6 { text-shadow: 1px 1px 1px #111 !important; }

.tablesorter-icon
{
cursor: pointer;
}

.panel-body
{
	padding-bottom: 5px !important;
}

.panel-footer
{
	padding-bottom: 0 !important;
}

.table
{
	margin-bottom: 10px !important;
}

table th { background-color: #3D4655; color: #959595; }

.events.table > tbody > tr > td { vertical-align: middle !important; }

article ul { list-style-type: square; }

#casts a { text-decoration: none; }

.panel-title .author { font-size: small; vertical-align: middle; float: right; }
.panel-title .author a { padding-left: 6px; }
.panel-title .author img { position: relative; top: -2px; }

.subscribe-here p { display: inline-block; margin-right: 1em; }
.subscribe-here ul { padding: 0; float: right; }
.subscribe-here ul li { display: inline-block; }
.subscribe-here li+li { padding-left: 1em; }
.subscribe-here ul li::before { content: ""; display: inline-block; position: relative; top: 2px; height: 14px; width: 14px; margin-right: 7px; background-image: url('/images/feed-icon-14x14.png'); }

.progress, .progress-bar { height: 5px !important; }
.progress { margin-bottom: 8px !important; background-color: inherit !important; }
.progress-bar { background-color: #529CDE; border-radius: 2px; min-width: 0.5%; }

.panel > .panel-heading,
.panel-primary > .panel-heading,
.panel-default > .panel-heading {
background-color: #7A8288;
}

#twitter-widget-1 {
 /* !important because Twitter wants 180 ←→ 520 width? no */
 max-width: 1100px !important;
 min-width: 300px !important;
 width: 100% !important;
}

/* hacks all the way down; reconsider in future */
#twitter-here .follow { top: -44px; position: relative; height: 0; }
.twitter-link::before { content: "@"; padding-right: .05em; }

::-moz-selection { background-color: brown; color: white; text-shadow: 1px 1px 1px #purple; }
::selection { background-color: brown; color: white; text-shadow: 1px 1px 1px #purple; }

nav .group-join { line-height: 17px; }

/* Try something */
.progress-bar {
    animation: showpolls 3s ease forwards;
	-webkit-animation: showpolls 3s ease forwards;
}
/* technically invalid by spec, but some browsers eat it */
@-webkit-keyframes showpolls { from { width: 0%; } }
@keyframes showpolls { from { width: 0%; } }

.nav > .navbar-avatar > a { padding: 6px; border: none; }
.nav > .navbar-avatar > a:hover { background: inherit !important; }
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus { background: inherit; }
.nav > .navbar-avatar { padding-right: 1em; }
#steamAvatar { border: 3px solid green; border-radius: 4px; }
