@font-face
{
	font-family: 'OrbitronMedium';
	src: url('/css/Orbitron-fontfacekit/orbitron-medium-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

hr
{
	border: 0;
	border-top: 1px solid #35465E;
	width: 80%;
}

audio
{
	width: 100%
}

dd > a img,
dd > img
{
	height: 48px;
}

blockquote
{
		font-size: 14px !important;
}

html 
{
    overflow-y: scroll;
}

.license
{
	height: 16px;
	margin-top: -1px;
}

.container > h1
{
	margin-bottom: 20px;
}

.download-links span { padding-right: 1em; }
/* consider images here for the diff mime types
.download-links span::before { content: " "; display: inline-block; width: 22px; }
*/

#history li,
#main li
{
	margin: 0 10px;
	height: 46px;
	width: 100%
}

table#casts img
{
	height: 22px;
	vertical-align: middle;
}


table.tablesorter img
{
	height: 16px;
	vertical-align: middle;
}

table.tablesorter thead th.header
{
	background-image: url('/images/bg.gif');
	background-repeat: no-repeat;
	background-position: center left;
	cursor: pointer;
}

table.tablesorter thead th.headerSortUp
{
	background-image: url('/images/asc.gif');
}

table.tablesorter thead th.headerSortDown
{
	background-image: url('/images/desc.gif');
}

table.tablesorter thead th i, table.tablesorter tbody td i {
	float: right;
	line-height: 20px;
}

.shownotes { text-align: left; }
.shownotes h4 { margin-top: 5px; font-weight: bold; font-size: 14px; line-height: 18px; }

.shownotes .dl-horizontal dt { float: left; text-align: right; }
.shownotes dl { line-height: 20px; margin-bottom: 5px; }
.shownotes dl dt { width: 7em; }
.shownotes dl dd { margin-left: 7.1em; }
.shownotes time { margin-right: 10px; color: #626262; }
.shownotes time:target { color: #FF7F00; }

/* highlighter */
.shownotes time { cursor: pointer; }
.shownotes time:hover { color: #EEE; }
.shownotes .highlighted time:hover { color: yellow; }

dt.highlighted, dt.highlighted time, dt.highlighted + dd { background-color: #06A; color: #EEE; }

/*Steamcommunity bbcode ugliness*/
.bb_link_host
{
	display:none;
}

/* twitter Feed */
.follow
{
	float: right;
	margin: auto;
}

.timeline
{
	width: 520px;
	margin: auto;
}

/* navbar menu widths */
nav .nav > li > a {
padding-right: 13px; padding-left: 13px;
}

/* Poll and form styles */

#mumble-list ul {
        list-style-type: none;
}

#mumble-list li li.channel
{
		opacity: 0.6;
}

#mumble-list li li li.channel
{
		opacity: 0.4;
}

#mumble-list li.user
{
		opacity: 1.0 !important
}

/* Bootstrap needs JS for this, apparently? Confirm this is decent for all */
li.dropdown:hover > .dropdown-menu, .dropdown-menu:hover { display:block; }

/* finesse this… */
#countdown span:not(.label)
{
	font-family: 'OrbitronMedium', Arial, sans-serif;
	color: #ffffff;
	background-color: #808080;
	display: inline-block;
	width: 1.75em;
	text-align: center;
	line-height: 1.25em;
	padding-top: 4px;
	text-shadow: none;
	border-radius: 3px;
	text-align: center;
	box-shadow: 0 -10px 16px -10px #303030 inset;
}

#countdown
{
	width: 25em;
	margin: 0px auto;
	margin-bottom: .5em;
	line-height: 2em;
}

body
{
padding: 60px 0 0 0;
color: #959595; background: url('/images/noise4.png');
background-position: center top;
font-size: 13px !important; font-family: Arial,Helvetica,sans-serif;
text-shadow: 1px 1px 1px #000;
}

h1, h2, h3, h4, h5, h6 { text-shadow: 1px 1px 1px #111 !important; }

.tablesorter-icon
{
cursor: pointer;
}

/* fixup padding on article */
div ul, div ol { margin-bottom: 0px; }
div p { margin: 0px; }
p + p { margin-top: .9em; }
.panel-footer p + p { margin-top: 0; }

.panel-body-table
{
	padding: 0px !important;
}

.panel-footer p { margin: 0px 0px 10px; }
.panel-footer { padding-bottom: 0 !important; }

.table
{
	margin-bottom: 0px !important;
}

table th { background-color: #3D4655; color: #959595; }

.events.table > tbody > tr > td { vertical-align: middle !important; }

article ul { list-style-type: square; }

#casts a { text-decoration: none; }

.panel-title .author { font-size: small; vertical-align: middle; float: right; }
.panel-title .author a { padding-left: 6px; }
.panel-title .author img { position: relative; top: -2px; }

.subscribe-here p { display: inline-block; margin-right: 1em; }
.subscribe-here ul { padding: 0; float: right; }
.subscribe-here ul li { display: inline-block; }
.subscribe-here li+li { padding-left: 1em; }
.subscribe-here ul li::before { content: ""; display: inline-block; position: relative; top: 2px; height: 14px; width: 14px; margin-right: 7px; background-image: url('/images/feed-icon-14x14.png'); }

.progress, .progress-bar { height: 5px !important; }
.progress { margin-bottom: 8px !important; background-color: inherit !important; }
.progress-bar { background-color: #529CDE; border-radius: 2px; min-width: 0.5%; }

.panel > .panel-heading,
.panel-primary > .panel-heading,
.panel-default > .panel-heading {
background-color: #7A8288;
}

#twitter-widget-1 {
 /* !important because Twitter wants 180 ←→ 520 width? no */
 max-width: 1100px !important;
 min-width: 200px !important;
 width: 100% !important;
}

/* Twitter box */
article.tweets { background: inherit; border: none; box-shadow: none; }
article.tweets .panel-heading { background: inherit; border: none; padding-left:0; padding-right:0; }
article.tweets .tweets { background: white; }
div#twitter-here { padding: 0; }
/* hacks all the way down; reconsider in future */
#twitter-here .follow { top: -29px; position: relative; height: 0; }

.twitter-link::before { content: "@"; padding-right: .05em; }

::-moz-selection { background-color: brown; color: white; text-shadow: 1px 1px 1px #purple; }
::selection { background-color: brown; color: white; text-shadow: 1px 1px 1px #purple; }

/* logged in group sign-up button */
p a.group-join { font-size:100%; }

/* Animate polls loading */
.progress-bar {
    animation: 4s ease 1s normal forwards 1 running showpolls;
	-webkit-animation: showpolls 3s ease forwards;
}
@-webkit-keyframes showpolls { from { width: 0%; } }
@keyframes showpolls { from { width: 0%; } }

/* Steam login appearance */
.navbar-nav > li.steamLogin > a { display: block; border: 0; padding: 3px 5px 4px 3px; }
.navbar-nav > li.navbar-avatar > a { padding: 6px; }
/* hung to the right */
div#navbar { position: relative; }
.navbar-nav > li.steamLogin { position: absolute; right: 0; }

/* Steam avatar border. improve */
#steamAvatar { border: 3px solid green; height: 38px; width: 38px; border-radius: 4px; }

.eventimage { display:block; margin: 1em auto; }
.centred { text-align: center; }

.ourclearfix { clear:both; }
article.fixupbootstrap { background: transparent; border: 0; padding-left: 0; padding-right: 0; }
article.fixupbootstrap div.panel-body {background: #2e3338; border: 1px solid rgba(0, 0, 0, 0.6); border-top: 0; border-bottom:0; }

article.fixupbootstrap header, 
article.fixupbootstrap footer 
{
	margin-left: 1px; 
	margin-right: 1px;
}

article.steam-parsed br { content: " "; display: block; line-height: .5em; height: .5em; margin-top: .5em; }

#castplayer { margin-top: 7px;}
#cast-description { position: sticky; top: -150px; z-index: 2; opacity: .95; }
#cast-description { position: -webkit-sticky; }
#play-box { padding: 15px; margin: -15px; position: relative; }
#cast-description p.licence { margin-top: 0; right: 15px; position: absolute }
#cast-description p { display: inline-block; }
