@font-face
{
	font-family: 'OrbitronMedium';
	src: url('/css/Orbitron-fontfacekit/orbitron-medium-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

*
{
	margin: 0;
	padding: 0;
}

body
{
	background: #262627;
	color: #959595;
	font-size: 12px;
	font-family: Arial,Helvetica,sans-serif;
	text-shadow: 1px 1px 1px #000000;
	background-image: url("/images/noise4.png");
}


nav
{
	background: #262627;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.5), 0 100px 50px -10px #3D3D3D inset;
	text-align: center;
}

nav ul
{
	margin: 0;
}

nav ul ul
{
	display: none;
	position: absolute;
	border: 1px solid #3D3D3D;
	border-top: none;
}

nav ul li:hover ul
{
	display: block !important;
	background: url("/images/noise4.png") repeat scroll 0 0 #303030;
	border-radius: 0 0 10px 10px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
	z-index: 99;
}

.current:hover ul
{
	display: block !important;
}


nav ul ul li
{
	display: block;
	text-align: left;
}

nav ul ul li a
{
	font-size: 14px;
	line-height: 40px;
	padding: 0 1.25em;
}

nav ul li
{
	display: inline-block;
}

nav ul li a
{
	display: block;
	font-family: 'OrbitronMedium', Arial, sans-serif;
}

nav > ul > li > a
{
	font-variant: small-caps;
	padding: 26px 1.25em 0;
	font-size: 1.5em;
	line-height: 80px;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
}


nav ul li:hover > a,
nav ul li.current > a
{
	text-shadow: 0 0 5px white;
	text-decoration: none;
}

nav > ul > li:hover > a,
nav > ul > li.current > a
{
	background-color: #393939;
	border-left: 1px solid #3D3D3D;
	border-right: 1px solid #3D3D3D;
	background-image: url("/images/noise4.png");
}

nav img
{
	margin: 30px 0 0 20px
}

header h1
{
	font-size: 2em;
	text-align: center;
	margin-top: 3em;
	margin-bottom: 0em;
}

h1,
h2,
h3
{
	color: #529CDE;
	font-family: 'OrbitronMedium', Arial, sans-serif;
	font-weight: normal;
}

article
{
	text-align: justify;
	margin: 60px auto;
	width: 600px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.5);
}

article#nextevent
{
	background-color: #3D4655;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.5), -100px -300px 100px -200px #2B2B2B inset;
	padding: 10px;
	border-radius: 30px;
	text-align: center;
	min-width: 300px;
	max-width: 500px;
}

article#nextevent h1
{
	margin: 5px 0 10px 0;
	color: #272727;
	text-shadow: 1px 1px #606060;
}

article#nextevent h2
{
	font-family: Arial,Helvetica,sans-serif;
	font-weight: bold;
	color: white;
}

article#nextevent img.eventImage
{
	box-shadow: 0 0 15px 1px rgba(0,0,0, 0.5);
	border-radius: 10px;
}

article#nextevent img.eventImage:hover
{
	box-shadow: 0 0 15px 1px rgba(82,156,222, 0.5);
}

article#nextevent #countdown
{
	padding: 10px
}

article#nextevent span
{
	font-weight: bold;
	font-size: 16px
}

div.shadow
{
	border-top: 1px solid #35465E;
	border-bottom: 1px solid #35465E;
	padding: 1px 0;
	background-color: #262627;
	margin: 0 -20px;
	width: 640px;
	background-image: url("/images/noise4.png");
}

article p,
article dl,
article ul
{
	margin: 1em 30px;
}

article blockquote
{
	color: #AAAAAA;
	padding: 10px;
	margin: 1em 40px;
}

article blockquote:before
{
	color: #529CDE;
	content: open-quote;
	font-size: 40px;
	line-height: 1px;
	margin-right: 10px;
	vertical-align: -17px;
}

article dl dt
{
	clear: left;
	float: left;
	margin-right: 0.5em;
	width: 8em;
	text-align: right;
}

article dl dt:after
{
	content: ":";
}

article h1
{
	font-size: 1.8em;
	margin: 0.5em 30px;
}

article h2
{
	font-size: 1.3em;
	margin: 0.5em 30px;
}

article h3,
article audio
{
	margin: 0.5em 30px;
}

article h1 a
{
	color: #529CDE;
}

article ul,
ol
{
	margin-left: 60px;
}

article.shownotes ul
{
	margin-left: 0px;
}

article.shownotes ul.castsection
{
	margin-left: 90px;
}

article ul
{
	list-style-type: square;
}

article .eventList
{
	list-style-type: none;
}

a
{
	text-decoration: none;
	color: #EBEBEB;
}

audio
{
	width: 580px;
	height: 40px;
}

a:hover
{
	text-decoration: underline;
}

footer
{
	background: #1B1B1B;
	box-shadow: 0 50px 50px -50px rgba(0, 0, 0, 0.5) inset, 0 10px 15px -10px rgba(0, 0, 0, 0.5);
	color: #666666;
	border-top: #2B2B2B;
	padding-bottom: 12px;
	padding-top: 25px;
	min-height: 78px;
	text-align: center;
}

footer a
{
	color: #666666;
}

footer a:hover
{
	color: #A0A0A0;
}

footer ul
{
	margin-left: 30px;
	list-style-type: square;
}

footer .linkDiv
{
	text-align: left;
	display: inline-block;
	vertical-align: top;
}

footer .copy
{
	clear: both;
	margin-top: 2em;
}

.linkDiv h3
{
	margin-left: 2em;
}

#history li,
#main li
{
	margin: 0 10px;
	height: 46px;
	width: 100%
}

.eventLogo
{
	width: 32px;
	height: 32px;
	border-radius: 3px;
	background: #000;
	vertical-align: middle;
	border: 3px solid #545454;
}

.eventDate
{
	float: right;
	line-height: 38px;
}

.eventName
{
	font-size: 15px;
	font-weight: bold;
	color: #EBEBEB
}

.eventWrap
{
	width: 100%;
	overflow: hidden;
	height: 38px;
}

.eventWrap div
{
	float: left;
}

.eventWrap div.eventCommentWrap
{
	width: 366px;
	margin-left: 20px;
	padding-top: 2px;
}

.eventComments
{
	color: #BDBDBD;
}

.online
{
	border-color: #7BAFD6;
}

.counterDigit
{
	font-family: 'OrbitronMedium', Arial, sans-serif;
	background-color: #303030;
	display: inline-block;
	width: 1.5em;
	text-align: center;
	line-height: 1.25em;
	padding-top: 4px;
	text-shadow: none;
	border-radius: 3px;
	text-align: center;
	box-shadow: 0 -10px 16px -10px #000000 inset, 0px 0px 2px 1px rgba(0,0,0,0.5);
	margin-top: 3px;
}

#countdown div
{
	display: inline-block;
	padding: 1em 1.5em;
}

.serverlink
{
	font-family: 'OrbitronMedium', Arial, sans-serif;
	text-align:center;
}

.attribution
{
	font-style: italic;
	margin-left: 40px;
}

#groupLink
{
	margin-top: 20px;
	background: url("/images/noise4.png") repeat scroll 0 0 #262627;
	border-radius: 0 10px 10px 0;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
	position: fixed;
	display: block;
	overflow: hidden;
	min-height: 127px;
	border: 1px solid #3D3D3D;
	border-left: none;
}

#groupLink img
{
	position: relative;
	background: url("/images/noise4.png") repeat scroll 0 0 #262627;
	z-index: 5;
	transition: margin-left 0.25s linear;
}

#groupLink:hover img
{
	margin-left: 220px;
}

#groupLink p
{
	position: absolute;
	display: block;
	width: 200px;
	padding: 2em 1em;
	vertical-align: top;
	z-index: 4;
}

#betaStamp
{
	position: fixed;
	right: 0;
	top: 0;
}

.detailLink
{
	margin-top: 1em;
}

.clearfix
{
	clear: both;
}

div.key
{
	width: 150px;
	height: 75px;
	border: 2px solid #529CDE;
	border-radius: 5px;
	display: block;
	background-color: #1B1B1B;
	background-repeat: no-repeat;
	background-position: center;
	margin: 29px;
	float: left;
}

.streambox
{
	text-align: center;
}

.streambox img
{
	border-radius: 20px;
	box-shadow: 0 0 15px 1px rgba(0,0,0, 0.5);
}

.license
{
	height: 16px;
	margin-top: -1px;
}

span.right
{
	float: right;
}

table.tablesorter
{
	border-spacing: 0;
	margin: 50px -100px;
	width: 840px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.5);
	font-size: 12px;
}

table.tablesorter img
{
	height: 16px;
}

span.online,
span.offline
{
	display: block;
	height: 10px;
	width: 10px;
	border-radius: 5px;
	text-indent: -10000px;
}

span.online
{
	background: #7C8E32;
}

span.offline
{
	background: #E54028;
}

table.tablesorter thead tr th,
table.tablesorter tfoot tr th
{
	background-color: #3D4655;
	padding: 5px;
}

table.tablesorter thead tr
{
	text-align: left;
}

table.tablesorter thead th.header
{
	padding-left: 20px;
	background-image: url('/images/bg.gif');
	background-repeat: no-repeat;
	background-position: center left;
	cursor: pointer;
}

table.tablesorter tbody td
{
	height: 20px;
	padding: 5px;
}

table.tablesorter tbody tr:nth-child(even)
{
	background-color: #262626;
}

table.tablesorter thead th.headerSortUp
{
	background-image: url('/images/asc.gif');
}

table.tablesorter thead th.headerSortDown
{
	background-image: url('/images/desc.gif');
}

table.tablesorter thead th.headerSortDown,
table.tablesorter thead th.headerSortUp
{
	background-color: #3D4655;
}

time
{
	margin-right: 10px;
	color: #626262;
}

time:target
{
	color: #FF7F00;
}

.casttopic
{
	font-weight: bold;
	font-size: 14px;
	line-height: 40px;
}

.shownotes
{
	text-align: left;
}

.shownotes li
{
	list-style-type: none !important;
	line-height: 20px;
	text-indent: -60px;
}

.castsource
{
	color: #529CDE;

}

.castabout
{
	line-height: 14px;
}

.nostamp
{
	text-indent: 0 !important;
}

.nostamp p
{
	margin: 0;
}

/* highlighter */

time
{
	cursor: pointer;
}

time:hover
{
	color: #EEE;
}

li.highlighted,
.highlighted time
{
	background-color: #06A;
	color: #EEE;
}

/* twitter Feed */
.follow
{
	float: right;
	margin: auto;
}

.timeline
{
	width: 520px;
	margin: auto;
}
