# DirectoryIndex news.php

IndexIgnore *.php *.flac
Options -Indexes

ErrorDocument 403 /error-page/403.php
ErrorDocument 404 /error-page/404.php
ErrorDocument 500 /error-page/500.php

RewriteBase /
RewriteEngine on
RewriteCond %{HTTP_HOST} ^www\.(.*)$
RewriteRule ^(.*)$ https://%1/$1 [L,R=301]
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -d
RewriteRule ^(.*)$ - [L]

RewriteCond %{DOCUMENT_ROOT}/$1.php -f
RewriteRule ^((.*/)*[^./]+)/*$ $1.php [L]

RewriteRule ^cast/s(\d+)e(\d+)$ /cast.php?s=$1&e=$2 [NC,L]
RewriteRule ^feed/cast/(\w+)$ /feed/cast.php?t=$1 [NC,L]
RewriteRule ^youtubethumb/s(\d+)e(\d+)$ /youtubethumb/?s=$1&e=$2 [NC,L]
RewriteRule ^youtubedescription/s(\d+)e(\d+)$ /youtubedescription/?s=$1&e=$2 [NC,L]
RewriteRule ^app/(\d+)$ /app.php?appid=$1 [NC,L]
RewriteRule ^events/(\w+)$ /events.php?eventid=$1 [NC,L]
RewriteRule ^polls/(\d+)$ /polls.php?pollid=$1 [NC,L]
RewriteRule ^member/(\w+)$ /member.php?uid=$1 [NC,L]
RewriteRule ^clan/(\w+)$ /clan.php?clanid=$1 [NC,L]

RewriteRule ^apple-touch-icon(.*).png$ mobile-favicon.png [L]

<ifmodule mod_expires.c>
<FilesMatch "\.(png|gif|jpg|jpeg|ico)$">
	ExpiresActive On
	ExpiresDefault "access plus 2 weeks"
	Header append Cache-Control "public"
</FilesMatch>
<FilesMatch "\.(css|js|svg)$">
	ExpiresActive On
	ExpiresDefault "access plus 1 week"
	Header append Cache-Control "public"
</FilesMatch>
</ifmodule>

